---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: prometheus-scw-sd
    literals:
      - PROMETHEUS_SCW_OUTPUT_ENGINE=http
      - PROMETHEUS_SCW_OUTPUT_FILE=/etc/prometheus/scw.json

secretGenerator:
  - name: prometheus-scw-sd
    literals: []
  - name: prometheus-scw-files
    literals: []

images:
  - name: prometheus-scw-sd
    newName: quay.io/promhippie/prometheus-scw-sd
    newTag: latest@sha256:2cc118fe9c58a2a90103c94c7bae42369c9d82d533c76f358b42b3da12f9a655

...
